@import url("https://fonts.googleapis.com/css?family=Ubuntu%20Mono:700|Inter:400&display=swap");

:root {
  --transition: 0.1s ease-out;
  --page-padding: 1rem 4rem;
}

@media only screen and (max-width: 992px) {
  :root {
    --page-padding: 1rem 2rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #091015;
    --background: #dce7ef;
    --primary: #304c69;
    --secondary: #ad8cca;
    --accent: #9a4da8;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #eaf1f6;
    --background: #101b23;
    --primary: #96b2cf;
    --secondary: #563573;
    --accent: #a457b2;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
}

h1 {
  font-size: 4.21rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

a {
  color: var(--text);
  text-decoration: none;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: var(--page-padding);
}

/**************** Buttons ****************/

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--background);
  transition: var(--transition);
}

.btn-primary:hover {
  transform: scale(1.1);
  color: var(--text);
  background: var(--accent);
  box-shadow: 0 0 16px var(--accent);
}

/**************** Particle Effect ****************/

.particle-btn {
  position: relative;
  overflow: hidden;
  cursor: none;
}

.particle {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  filter: blur(1px);
  border-radius: 50%;
  background-color: var(--text);
  pointer-events: none;
}

/**************** Navbar ****************/

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: var(--page-padding);
  z-index: 1;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link::after {
  --height: 0.125rem;

  content: "";
  position: absolute;
  bottom: calc(-1 * var(--height));
  left: 0;
  width: 0;
  height: var(--height);
  background-color: var(--primary);
  transition: var(--transition);
}

.nav-link:hover::after {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .links-container {
    position: fixed;
    top: 0.5rem;
    right: -100%;
    flex-direction: column;
    gap: 0;
    width: 80%;
    max-width: 18rem;
    min-height: calc(100% - 2 * 1rem);
    padding: 4rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    opacity: 0;
    transition: opacity var(--transition);
  }

  #menu-toggle:checked ~ .links-container {
    right: 1rem;
    opacity: 1;
  }

  .nav-link {
    width: 100%;
    height: 4rem;
    color: var(--background);
  }

  #contact-btn {
    margin-top: auto;
    background-color: var(--background);
    color: var(--text);
  }
}

/**************** Menu Icon ****************/

#menu-btn,
#menu-close {
  display: none;
}

#menu-close svg {
  fill: var(--background);
}

#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  #menu-btn,
  #menu-close {
    display: flex;
  }

  #menu-btn {
    position: relative;
    width: 2rem;
    height: 2rem;
    z-index: 1;
  }

  #menu-btn span {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    width: 2rem;
    height: 0.1875rem;
    border-radius: 0.1875rem;
    background-color: var(--text);
    transition: var(--transition);
  }

  #menu-btn span:nth-child(1) {
    top: 20%;
  }

  #menu-btn span:nth-child(2) {
    top: 50%;
  }

  #menu-btn span:nth-child(3) {
    top: 80%;
  }

  #menu-toggle:checked ~ #menu-btn span {
    background-color: var(--background);
  }

  #menu-toggle:checked ~ #menu-btn span:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #menu-toggle:checked ~ #menu-btn span:nth-child(2) {
    left: 50%;
    width: 0;
  }

  #menu-toggle:checked ~ #menu-btn span:nth-child(3) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  #menu-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  #menu-toggle:checked ~ #menu-overlay {
    display: block;
  }
}

/**************** Hero Section ****************/

#hero-glow {
  --size: 60vmin;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: linear-gradient(135deg, var(--accent), var(--primary));
  filter: blur(calc(var(--size) / 2));
}

#hero-typewriter {
  --animation-speed: 3s;
  --font-size: 8rem;
  --num-words: 3;
  --max-word-length: 12;
  --cursor-blink-speed: 0.4s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--font-size);
  height: var(--font-size);
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  #hero-typewriter {
    --font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  #hero-typewriter {
    --font-size: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  #hero-typewriter {
    --font-size: 3rem;
  }
}

#hero-typewriter span {
  position: relative;
  top: 0;
  display: block;
  width: 0;
  min-height: var(--font-size);
  border-right: 0.25rem solid var(--text);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05); /* Prevents pixels from being left behind during animation */
  font-size: var(--font-size);
  white-space: nowrap;
  overflow: hidden;
  animation: swap calc(2 * var(--num-words) * var(--animation-speed))
      steps(var(--num-words)) infinite,
    typing var(--animation-speed) steps(var(--max-word-length)) infinite
      alternate,
    cursor var(--cursor-blink-speed) step-end infinite alternate;
}

#scroll-indicator {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  0% {
    display: none;
    width: 0;
    padding-right: 0;
  }

  1% {
    display: block;
    padding-right: 0.25rem;
  }

  40% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

@keyframes swap {
  100% {
    top: calc(-2 * var(--num-words) * var(--font-size));
  }
}
