@import url("https://fonts.googleapis.com/css?family=Ubuntu%20Mono:700|Inter:400");

:root {
  --transition: 0.1s ease-out;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #091015;
    --background: #dce7ef;
    --primary: #304c69;
    --secondary: #ad8cca;
    --accent: #9a4da8;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #eaf1f6;
    --background: #101b23;
    --primary: #96b2cf;
    --secondary: #563573;
    --accent: #a457b2;
  }
}

html {
  font-size: 100%;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--background);
  transition: var(--transition);
}

.btn-primary:hover {
  transform: scale(1.1);
  color: var(--text);
  background: var(--accent);
  box-shadow: 0 0 16px var(--accent);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  --height: 0.125rem;

  content: "";
  position: absolute;
  bottom: calc(-1 * var(--height));
  left: 0;
  width: 0;
  height: var(--height);
  background-color: var(--primary);
  transition: var(--transition);
}

.nav-link:hover::after {
  width: 100%;
}

.click-me {
  position: relative;
  overflow: hidden;
  cursor: none;
}

.click-me .click-particle {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  filter: blur(1px);
  border-radius: 50%;
  background-color: var(--text);
  pointer-events: none;
}
